*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: #85929E;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Alegreya Sans', sans-serif;
}

nav {
    padding: 30px 0px 20px 0px;
}

.header-title {
    font-family: 'Patua One', cursive;
    font-size: 50px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
}

.container {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 1rem; */
    box-sizing: border-box;
    height: 351px;
    width: 834px;
}

.rules {
    word-wrap: normal;
}

.rules-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.card-header {
    font-size: 20px;
}

.card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.question-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.question-container {
    background-color: #85929E;
    color: black;
    padding: 1rem;
    border: 1px solid black;
    height: 6rem;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: .5rem;
}

.btn {
    width: 300px;
    border: 2px solid black;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.btn:hover {
    background-color: #ffffff33;
}
.hidden{
    display: none;
}