*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: #85929E;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Alegreya Sans', sans-serif;
}

nav {
    padding: 30px 0px 20px 0px;
}

.header-title {
    font-family: 'Patua One', cursive;
    font-size: 50px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
}

.high-score {
    font-size: 20px;
}

.high-score-num {
    font-size: 40px;
    color: #F44336;
    text-shadow: 1px 1px black;
    font-weight: 900;
}

.timer-count {
    font-weight: 900;
    font-size: 20px;
}

.container {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 1rem; */
    box-sizing: border-box;
    height: 351px;
    width: 834px;
}

.rules {
    word-wrap: normal;
    text-align: center;
}

.rules-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 60px;
}

.card-header {
    font-size: 20px;
}

.card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.question-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-size: 30px;
}

.question-container {
    background-color: #85929E;
    color: black;
    padding: 0rem 1rem 1rem 1rem;
    border: 1px solid black;
    height: 6rem;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    word-break: break-all;
    border-radius: .5rem;
    font-weight: 900;
}

.choice-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

button.choice {
    width: 45%;
    height: 30px;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 20px;
}

.answer-result {
    font-size: 20px;
    color: red;
    padding-top: 10px;
}

.answer-result::before {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.btn {
    width: 300px;
    border: 2px solid black;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #ffffff33;
}

.game-over {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.congrats {
    font-size: 30px;
    font-weight: 900;
}

.your-score {
    font-size: 20px;
}

.score {
    font-size: 25px;
    color: #F44336;
    text-shadow: 1px 1px black;
    font-weight: 900;
}

.score-list {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 5px;
}

.hidden{
    display: none;
}